body {
  font: 24px "Century Gothic", Futura, sans-serif;
  margin: 0;
}

ol, ul {
  list-style-type: none;
  padding-left: 0px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 128px;
  height: 128px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 128px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
}

.game-board{
  padding: 2rem;
}

.botao{
  background: #5E5EFF;
  border: 1px solid #5E5EFF;
  border-radius: 1em;
  color: #fff;
  height: 2em;
  margin: 1rem;
  width: 10rem;
}

.botao:hover{
  background: #2F2F80;
  border: 2px solid #2F2F80;
}

.game-info {
  background: #AAAAFF;
  color: #fff;
  padding: 1rem;
}